@model IEnumerable<beauty3.DbFolder.UserIpList>

@{
    ViewData["Title"] = "BanUser";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/css/cabinet.css" rel="stylesheet">
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">


<div class="content">

    <h2>Бан Юзеров</h2>

    <table class="table table-bordered" style="padding:20px!important;">
        <thead>
            <tr style="background-color: cadetblue; color:white;">
                <th>Юзер</th>
                <th>Номер</th>
                <th>Ипользовано IP- адресов</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Заблокировать</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model)
            {
                
            <tr>
                <td>@d.User.FirstName</td>
                <td>@d.User.UserName</td>
                <td>@d.Ip</td>
                <td>@d.Ip2</td>
                <td>@d.Ip3</td>
                <td>@d.Ip4</td>
                @if(d.Ban == true){
                <td style="color:red;">
                    Заблокирован
                </td>
                }
                else{
                <td>
                    
                </td>
                }
                <td>
                    <a class="btn btn-warning" href="/Admin/Block/@d.UserId">Block @d.User.FirstName</a>
                    |
                    <a class="btn btn-success" href="/Admin/BlockOpen/@d.UserId">Open</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>


  
