@model beauty3.ViewModels.AdminViewModels.UsersView
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "UserList";
}

<link href="~/css/admin.css" rel="stylesheet">

<div class="content">
    <div class="main">
        <div class="main-head">
            <form asp-action="UserList" method="post" class="search">
                <input type="search" placeholder="Тел. номер" name="userPhone" required>
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <div class="pager">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <a href="/Admin/UserList?page=@(Model.Pager.CurrentPage - 1)"><i class="fa fa-angle-double-left"></i></a>
                }

                @for (var pg = Model.Pager.StartPage; pg <= Model.Pager.EndPage; pg++)
                {
                    if (pg == ViewBag.Page)
                    {
                        <a href="~/Admin/UserList?page=@pg" class="page-act">@pg - бет</a>
                    }
                }

                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <a href="/Admin/UserList?page=@(Model.Pager.CurrentPage + 1)"><i class="fa fa-angle-double-right"></i></a>
                }
            </div>
        </div>
        <div class="students">
            @foreach (var c in Model.Users)
            {
                var us = Model.UserIpLists.FirstOrDefault(x => x.UserId == c.Id);
                <div class="student">
                    <div class="stud-head">
                        <div class="stud-data">
                            <p>
                                <span>@c.FirstName</span>
                                <span>@c.LastName</span>
                            </p>
                            <eq-highlight-text text="@ViewBag.Text" value="@c.PhoneNumber" />
                            @*<p>@c.PhoneNumber</p>*@
                        </div>
                        <a href="/Admin/AboutUser/@c.Id" class="stud-more">Оқушы туралы</a>
                    </div>
                    @if (us != null)
                    {
                        <table>
                            <tr>
                                <th>IP-адрестер</th>
                                <th>Статус</th>
                                <th>Блоктау</th>
                            </tr>
                            <tr>
                                <td>
                                    @if (us.Ip != null)
                                    {
                                        <span>@us.Ip</span> <br />
                                    }
                                    @if (us.Ip2 != null)
                                    {
                                        <span>@us.Ip2</span> <br />
                                    }
                                    @if (us.Ip3 != null)
                                    {
                                        <span>@us.Ip3</span> <br />
                                    }
                                    @if (us.Ip4 != null)
                                    {
                                        <span>@us.Ip4</span> <br />
                                    }
                                </td>
                                @if (us.Ban == true)
                                {
                                    <td style="color:red;">
                                        <i class="fa fa-lock"></i>
                                        Блок
                                    </td>
                                }
                                else
                                {
                                    <td style="color:green;">
                                        <i class="fa fa-unlock"></i>
                                        Ашық
                                    </td>
                                }
                                <td>
                                    @if (us.Ban == true)
                                    {
                                        <a class="green-btn" href="/Admin/BlockOpen/@us.UserId">Open</a>
                                    }
                                    else
                                    {
                                        <a class="red-btn" href="/Admin/Block/@us.UserId">Block</a>
                                    }
                                </td>
                            </tr>
                        </table>
                    }
                </div>
            }
        </div>
        <div class="pager">
            @if (Model.Pager.CurrentPage > 1)
            {
                <a href="/Admin/UserList?page=@(Model.Pager.CurrentPage - 1)"><i class="fa fa-angle-double-left"></i><span>Артқа</span></a>
            }

            @for (var pg = Model.Pager.StartPage; pg <= Model.Pager.EndPage; pg++)
            {
                if (pg == ViewBag.Page)
                {
                    <a href="~/Admin/UserList?page=@pg" class="page-act">@pg - бет</a>
                }
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <a href="/Admin/UserList?page=@(Model.Pager.CurrentPage + 1)"><span>Келесі</span><i class="fa fa-angle-double-right"></i></a>
            }
        </div>
    </div>
</div>