@model beauty3.DbFolder.Kurs
@{
    ViewData["Title"] = "Kurs";
    int counter = 0;
}

<link href="~/css/courseView.css" rel="stylesheet">

<div class="swipe-menu">
    <div class="close">
        <span></span>
    </div>
    <a href="#" class="main-nav">
        <i class="fa fa-home"></i>
        <span>Басты бет</span>
    </a>
    <a href="#" class="teacher-nav">
        <i class="fa fa-list"></i>
        <span>Спикер жайлы</span>
    </a>
    <a href="#" class="about-nav">
        <i class="fa fa-laptop"></i>
        <span>Курс жайлы</span>
    </a>
    <a href="#" class="packages-nav">
        <i class="fa fa-phone"></i>
        <span>Пакеттер</span>
    </a>
    <a href="/Account/Profil">
        <i class="fa fa-user"></i>
        <span>Жеке кабинет</span>
    </a>
</div>
<div class="header">
    <div class="go-back">
        <i class="fa fa-arrow-left"></i>
        <a class="go-back" href="/Home/AllKurs">Курстар</a>
    </div>
    <div class="nav">
        <a href="#" class="main-nav fix-active">Басты бет</a>
        <a href="#" class="teacher-nav">Спикер жайлы</a>
        <a href="#" class="about-nav">Курс жайлы</a>
        <a href="#" class="packages-nav">Пакеттер</a>
    </div>
    <a href="/Account/Profil" class="login">
        <span>Жеке кабинет</span>
        <i class="fa fa-user"></i>
    </a>
    <div class="burger">
        <span></span>
    </div>
</div>

<div class="content">
    <div id="main" class="main">
        <div class="main-text">
            <h2>@Model.Name</h2>
            <p>@Model.Info</p>
            <a href="#" class="btn buy-btn">Сатып алу</a>
        </div>
        <div class="main-bg" style="background-image: url(/kurs/@Model.BannerUrl);"></div>
    </div>


    @* MODAL *@
    <div class="modal-screen">
        <div class="modal-bg"></div>
        <div class="modal-window">
            <div class="modal-section">
                <div class="close-mod"><span></span></div>
                <p style="color:black!important;">Cатып алу үшін WhatsApp нөмеріне жазыңыз.</p>
                <a href="https://api.whatsapp.com/send?phone=77004976277&text=%D0%9E%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD%20%D0%9A%D1%83%D1%80%D1%81%20%D0%B1%D0%BE%D0%B9%D1%8B%D0%BD%D1%88%D0%B0" style="color:black!important;" class="submit">Жазу</a>
            </div>
        </div>
    </div>
    @* MODAL *@

    <div id="teacher" class="teacher">
        <div class="teacher-bg"></div>
        <div class="teacher-img">
            <img src="~/kurs/@Model.AvtorImgUrl">
        </div>
        <div class="teacher-text">
            <h2>@Model.AvtorName</h2>
            <p>@Model.AvtorInfo</p>
        </div>
    </div>

    <div id="about" class="about">
        <div class="about-course">
            <div class="course-block">
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <h2>КУРС КІМДЕРГЕ АРНАЛАДЫ?</h2>
                <ul>
                    <li>@Model.Kimge1</li>
                    <li>@Model.Kimge2</li>
                    <li>@Model.Kimge3</li>
                    @if (@Model.Kimge4 != null)
                    {
                        <li>@Model.Kimge4</li>
                    }
                    @if (@Model.Kimge5 != null)
                    {
                        <li>@Model.Kimge5</li>
                    }
                </ul>
            </div>
            <div class="course-block">
                <div class="icon">
                    <i class="fa fa-book"></i>
                </div>
                <h2>КУРС ҚАЛАЙ ӨТЕДІ?</h2>
                <ul>
                    <li>Жабық инстаграм парақшада сторис, пост, видео, IGTV-толық форматында 30-40 минуттық видео-сабақтар салынады.</li>
                    <li>Арнайы Тапсырмалар беріліп тексеріледі</li>
                    <li>Бонус кітапша "Сұлулық Сырлары" беріледі</li>
                    <li>Cоңғы күні Тікелей эфирде сұрақ-жауап болады</li>
                </ul>
            </div>
        </div>
        <div class="learn">
            <h2>Курс барысында сіз:</h2>
            <div class="learn-blocks">
                <div class="learn-block">
                    <div class="img-block">
                        <img src="~/img/check-icon.png">
                    </div>
                    <p>@Model.What1</p>
                </div>
                <div class="learn-block">
                    <div class="img-block">
                        <img src="~/img/check-icon.png">
                    </div>
                    <p>@Model.What2</p>
                </div>
                <div class="learn-block">
                    <div class="img-block">
                        <img src="~/img/check-icon.png">
                    </div>
                    <p>@Model.What3</p>
                </div>
            </div>
        </div>
        <div class="subject">
            <h2>Курс тақырыптары<span></span><p></p></h2>
            <ul>
                @foreach (var c in ViewBag.Videos)
                {
                    counter++;
                    <li>@counter. @c.VideoName</li>
                }
            </ul>
        </div>
    </div>

    <div class="packages">
        <div class="packages-bg"></div>
        <h1>Оқу түрлері</h1>
        <div class="packs">
            <div class="pack">
                <div class="pack-head">
                    <h3>Пакет «@Model.PackName1»</h3>
                    <p>өзі үйренемін деушілерге</p>
                </div>
                <div class="pack-body">
                    <p>
                        <i class="fa fa-check"></i>
                        <span>@Model.Pack1</span>
                    </p>
                    <p>
                        <i class="fa fa-check"></i>
                        <span>@Model.Pack2</span>
                    </p>
                    <p>
                        <i class="fa fa-check"></i>
                        <span>@Model.Pack3</span>
                    </p>
                    @if (Model.Pack4 != null)
                    {
                        <p>
                            <i class="fa fa-check"></i>
                            <span>@Model.Pack4</span>
                        </p>
                    }
                    @if (Model.Pack5 != null)
                    {
                        <p>
                            <i class="fa fa-check"></i>
                            <span>@Model.Pack5</span>
                        </p>
                    }
                    @*<p>
                        <i class="fa fa-check"></i>
                        <span>Учебные материалы в формате видеоуроков FullHD</span>
                    </p>
                    <p>
                        <i class="fa fa-check"></i>
                        <span>Личный кабинет с постоянным доступом к материалам обучения</span>
                    </p>
                    <p>
                        <i class="fa fa-check"></i>
                        <span>Раздаточный материал со списком косметики и инструментами</span>
                    </p>
                    <p>
                        <i class="fa fa-check"></i>
                        <span>Рабочая тетрадь для конспектирования и записей</span>
                    </p>
                    <p>
                        <i class="fa fa-check"></i>
                        <span>Возможность занятий в любое удобное время и месте</span>
                    </p>
                    <p>
                        <i class="fa fa-check"></i>
                        <span>Выдача сертификата после завершения обучения</span>
                    </p>*@
                </div>
                <div class="pack-price">
                    @*<span class="old-price">6 990 тг</span>*@
                    <span class="new-price">@Model.Price1 тг</span>
                </div>
                <a class="start-btn" href="#">Бастау</a>
                <p class="sale-text">действует скидка 30% до 12 июля</p>
            </div>
            <div class="pack">
                <div class="pack-head">
                    <h3>Пакет «@Model.PackName2»</h3>
                    <p>с ежедневной поддержкой куратора</p>
                </div>
                <div class="pack-body">
                    <p>
                        <i class="fa fa-check"></i>
                        <span>@Model.Pack1</span>
                    </p>
                    <p>
                        <i class="fa fa-check"></i>
                        <span>@Model.Pack2</span>
                    </p>
                    <p>
                        <i class="fa fa-check"></i>
                        <span>@Model.Pack3</span>
                    </p>
                    @if (Model.Pack4 != null)
                    {
                        <p>
                            <i class="fa fa-check"></i>
                            <span>@Model.Pack4</span>
                        </p>
                    }
                    @if (Model.Pack5 != null)
                    {
                        <p>
                            <i class="fa fa-check"></i>
                            <span>@Model.Pack5</span>
                        </p>
                    }
                </div>
                <div class="plus-body">
                    <p>
                        <i class="fa fa-plus"></i>
                        <span>@Model.Pack21</span>
                    </p>
                    <p>
                        <i class="fa fa-plus"></i>
                        <span>@Model.Pack21</span>
                    </p>
                    @if (Model.Pack5 != null)
                    {
                        <p>
                            <i class="fa fa-plus"></i>
                            <span>@Model.Pack23</span>
                        </p>
                    }
                </div>
                <div class="pack-price">
                    @*<span class="old-price">8 990 тг</span>*@
                    <span class="new-price">@Model.Price2 тг</span>
                </div>
                <a class="start-btn" href="#">Бастау</a>
                <p class="sale-text">действует скидка 30% до 12 июля</p>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('.buy-btn, .start-btn').click(function (e) {
            e.preventDefault();
            $('.modal-screen').css('display', 'flex');
        })
        $('.close-mod, .modal-bg').click(function () {
            $('.modal-screen').css('display', 'none');
        })

        $('.burger').hover(function () {
            $('.swipe-menu').toggleClass('active-menu')
        })
        $('.close').click(function () {
            $('.swipe-menu').removeClass('active-menu')
        })
        $(window).on('scroll', function () {
            if ($(window).scrollTop() > 90) {
                $('.header').addClass('fix-header');
            } else {
                $('.header').removeClass('fix-header');
            }
        });
        $(window).on('scroll', function () {
            if ($(window).scrollTop() >= $('#main').offset().top) {
                $('a.fix-active').removeClass('fix-active');
                $('.main-nav').addClass('fix-active');
            }
            if ($(window).scrollTop() >= $('#teacher').offset().top) {
                $('a.fix-active').removeClass('fix-active');
                $('.teacher-nav').addClass('fix-active');
            }
            if ($(window).scrollTop() >= $('#about').offset().top) {
                $('a.fix-active').removeClass('fix-active');
                $('.about-nav').addClass('fix-active');
            }
            if ($(window).scrollTop() >= $('.packages').offset().top - 100) {
                $('a.fix-active').removeClass('fix-active');
                $('.packages-nav').addClass('fix-active');
            }
        });

        $('.main-nav').click(function () {
            var offset = 0;
            $('a.fix-active').removeClass('fix-active');
            $('.main-nav').addClass('fix-active');
            $('html, body').animate({
                scrollTop: $('#main').offset().top
            }, 1000);
            return false;
        });
        $('.teacher-nav').click(function () {
            var offset = 0;
            $('a.fix-active').removeClass('fix-active');
            $('.teacher-nav').addClass('fix-active');
            $('html, body').animate({
                scrollTop: $('#teacher').offset().top
            }, 1000);
            return false;
        });
        $('.about-nav').click(function () {
            var offset = 0;
            $('a.fix-active').removeClass('fix-active');
            $('.about-nav').addClass('fix-active');
            $('html, body').animate({
                scrollTop: $('#about').offset().top
            }, 1000);
            return false;
        });
        $('.packages-nav').click(function () {
            var offset = 0;
            $('a.fix-active').removeClass('fix-active');
            $('.packages-nav').addClass('fix-active');
            $('html, body').animate({
                scrollTop: $('.packages').offset().top - 100
            }, 1000);
            return false;
        });
    });
</script>
