@model beauty3.ViewModels.AccountViewModels.VideoViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Video";
    int counter = 0;
}
<link href="~/css/video.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css" />



<div class="content">
    <div class="main">
        <div class="video-section">
            <div class="video-block">
                <div class="video">
                    <div class="plyr__video-embed" id="player">
                        <iframe src="@Model.KursVideo.VideoUrl"
                                encrypted-media;
                                gyroscope;
                                allowfullscreen
                                allow="autoplay"
                                controls></iframe>
                    </div>
                </div>
                <div class="video-text">
                    <h1>@Model.KursVideo.VideoName</h1>
                    <p><i class="fa fa-user"></i> @Model.KursVideo.Kurs.AvtorName</p>
                    <p class="vinfo">
                        @Model.KursVideo.Info
                    </p>

                </div>
            </div>
            <div class="video-titles">
                @foreach (var c in ViewBag.OtherVideos)
                {
                    <a href="/Account/Video/@c.Kurs.Id?videoId=@c.Id" class="video-title">
                        <div class="baner">
                            <img src="~/kursvideo/@c.PhotoUrl">
                        </div>
                        <div class="title-text">
                            <h3>@c.VideoName</h3>
                            <p>@c.Info</p>
                        </div>
                    </a>
                }
            </div>
        </div>
        <div class="comment-block">
            <h3>@ViewBag.ComCount пікір</h3>
            <div class="user-comment">
                <input id="userName" type="hidden" name="userName" value="@User.Identity.Name" />
                <input id="videoId" type="hidden" name="videoId" value="@Model.KursVideo.Id" />
                <textarea id="text" name="text" placeholder="Сіздің пікіріңіз..." rows="3"></textarea>
                <button type="submit">Жіберу</button>
            </div>
            <div class="loader" style="display:none; margin-bottom: 20px;text-align: center;">
                <img src="~/img/loader.gif" width="100"/>
            </div>
            @foreach (var c in Model.VideoComments)
            {
                counter++;
                var user = Model.Users.FirstOrDefault(x => x.Id == c.UserId);

                <div class="comment-item">
                    <h3>@user.FirstName @user.LastName</h3>
                    <p class="date-text">@c.DateTime</p>
                    <p class="comment-text">@c.Text</p>
                    <button class="answer-btn">
                        <i class="fa fa-share"></i>
                        Жауап жазу
                    </button>
                </div>
            }
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        if (@ViewBag.ComCount === 0) {
            $('.comment-block > h3').empty().text('Ешқандай пікір жоқ!');
        }
        let countCom = @ViewBag.ComCount;
        $('.user-comment > button').click(async function () {
            countCom++;
            $('.loader').css('display', 'block')

            let dd = new Date();
            let userName = $('#userName').val();
            let dateTime = dd.toLocaleString();
            let videoId = $('#videoId').val();
            let text = $('#text').val();

            let response = await fetch(`https://localhost:44356/Account/CommentJS?userName=${userName}&videoId=${videoId}&text=${text}&dateTime=${dateTime}`, {

                header: {
                    "Content-Type": "application/json",
                    "Accept": "application/json"
                },
            });
            let result = await response.json();
            let r =
                `<div class="comment-item">
                    <h3>${result.user.firstName} ${result.user.lastName}</h3>
                    <p class="date-text">${dd.toLocaleString()}</p>
                    <p class="comment-text">${result.text}</p>
                    <button class="answer-btn">
                        <i class="fa fa-share"></i>
                        Жауап жазу
                    </button>
                </div>`;

            $('.comment-block').append(r);
            $('.loader').css('display', 'none');

            var offset = 0;
            $('.content').animate({
                scrollTop: $('.comment-block').offset().top + countCom*200
            }, 500);

            $('.comment-block > h3').empty().text(countCom +' пікір');
        })
    });
</script>

<script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
<script>
    const player = new Plyr('#player');
</script>